.transactions.categorize {
  padding: 40px 20px;
  .ui.message {
    color: #7c7c7c !important;
    background: #fff !important;

  }
  .ui.segment {
    max-width: 480px !important;
    margin: 0 auto;
  }
}
